<li class="row">
	<div class="col-7">
		<p class="burger-name">{{burger_name}}</p>
	</div>
	<div class="col-5">
		<button type="button" class="btn eat-burger" data-id="{{id}}" data-newDevour="{{devoured}}">
			{{#if devoured}}Try Again!{{else}}Try Burger{{/if}}
		</button>
	</div>
</li>