@font-face {
    font-family: "bobsBurgers";
    src: url("./fonts/Bob\'s\ Burgers.ttf");
}

@font-face {
    font-family: "bobsBurgers2";
    src: url("./fonts/Bob\'s\ Burgers\ 2.ttf");
}

body {
    background-image: url('https://wallpapermemory.com/uploads/597/bob-s-burgers-background-full-hd-1080p-156375.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

h1 {
    font-family: "bobsBurgers";
    font-size: 100px;
    padding-top: 20px;
    max-width: 100rem;
    text-align: center;
}

div.burger-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div.burger-board {
    width: 30rem;
}

div.fresh {
    order: 1;
}

div.sampled {
    order: 3;
}

h3.board-title {
    font-family: "bobsBurgers2";
    font-size: 50px;
    text-align: center;
    padding-top: 15px;
}

label, p.burger-name {
    font-family: 'Ranchers', cursive;
    font-size: 30px;
}

p.burger-name {
    font-size: 24px;
}

div.form-card {
    align-self: center;
    text-align: center;
    box-shadow: inset;
    order: 2;
}

form.form-group {
    max-width: 17rem;
    align-self: center;
    padding: 10px 30px 0 30px;
}

div.button-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button.btn-sm {
    margin-top: 10px;
    max-height: 3rem;
    width: 4rem;
}

button.brgr-btn, button.delete-burger {
    background-color: #F0262A;
    color: white;
}

button.brgr-btn {
    margin-top: 10px;
}

button.eat-burger {
    background-color: #FCDD60;
}

@media (max-width: 1000px) {
    div.burger-cards {
        flex-direction: column;
        align-items: center;
    }
    div.burger-board1, div.burger-board2 {
        min-width: 80%;
        max-height: fit-content;
        margin: 20px;
    }
    div.form-card {
        order: 1;
    }
    div.fresh {
        order: 2;
    }
}